


<div class="deck-container">
  <div *ngFor="let deck of decks" class="deck-item">
    <h3 [routerLink]="['/card', deck.id]">{{ deck.name }}</h3>
    <p>Category: {{ deck.category }}</p>
    <p>Description: {{ deck.description }}</p>
  </div>
</div>


<div>
  <h3>Create a new Deck</h3>
  <form (submit)="createDeck()">
    <input type="text" [(ngModel)]="newDeck.name" name="name" placeholder="Deck Name" required>
    <input type="text" [(ngModel)]="newDeck.description" name="description" placeholder="Description">
    <input type="text" [(ngModel)]="newDeck.category" name="category" placeholder="Category">
    <select id="deck" [(ngModel)]="newDeck.difficultyLevel" name="difficultyLevel" required>
      <option *ngFor="let lev of levels" [value]="lev.value">{{ lev.value }}</option>
    </select>

    <button type="submit">Create Deck</button>
  </form>
</div>
